# AUTHOR: Hunter Goodin
# DESCRIPTION: Manually version bumps the tags to allow for the package workflow to automate versioning on the new bumped version. 
# NOTES: Please check the README for clearer instructions. 

name: Manual version bump

on:
  workflow_dispatch:
    inputs:
      new_version:
        description: 'New version (format: vX.Y.Z)'
        required: true

permissions:
  contents: write 

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create new version tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git tag "${{ github.event.inputs.new_version }}"
          git push origin "${{ github.event.inputs.new_version }}"
